.colCenter {
  /* width: clamp(600px, 100%, 100%); */
  background-color: rgb(223, 246, 246);
  overflow-x: hidden;
}

.canvas {
  display: flex;
  flex-direction: column;
  gap: 0;
  width: 600px;
  margin: 0 auto;

  /* The below two rules handle the thin blueprint hover effect */
  & div[data-shadowbox] {
    transition: padding 0.3s ease;
  }

  &:hover > div[data-thin] div[data-shadowbox] {
    padding: 10px 0;
  }
}
